.nav {
  display: flex;
}

.logo {
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  a {
    text-decoration: none;
    color: gray;
    $size: 30px;
    width: $size;
    height: $size;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7981d;
    color: #fff;
    border: 1px solid #022a60;
  }
}
